:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

.bg-transparent {
    background-color: transparent;
}

.bg-blue {
    background-color: var(--blue);
}

.bg-indigo {
    background-color: var(--indigo);
}

.bg-purple {
    background-color: var(--purple);
}

.bg-pink {
    background-color: var(--pink);
}

.bg-red {
    background-color: var(--red);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-green {
    background-color: var(--green);
}

.bg-teal {
    background-color: var(--teal);
}

.bg-cyan {
    background-color: var(--cyan);
}

.bg-white {
    background-color: var(--white);
}

.bg-gray {
    background-color: var(--gray);
}

.bg-gray-dark {
    background-color: var(--gray-dark);
}

.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-success {
    background-color: var(--success);
}

.bg-info {
    background-color: var(--info);
}

.bg-warning {
    background-color: var(--warning);
}

.bg-danger {
    background-color: var(--danger);
}

.bg-light {
    background-color: var(--light);
}

.bg-dark {
    background-color: var(--dark);
}

.text-transparent {
    color: transparent;
}

.text-blue {
    color: var(--blue);
}

.text-indigo {
    color: var(--indigo);
}

.text-purple {
    color: var(--purple);
}

.text-pink {
    color: var(--pink);
}

.text-red {
    color: var(--red);
}

.text-orange {
    color: var(--orange);
}

.text-yellow {
    color: var(--yellow);
}

.text-green {
    color: var(--green);
}

.text-teal {
    color: var(--teal);
}

.text-cyan {
    color: var(--cyan);
}

.text-white {
    color: var(--white);
}

.text-gray {
    color: var(--gray);
}

.text-gray-dark {
    color: var(--gray-dark);
}

.text-primary {
    color: var(--primary);
}

.text-secondary {
    color: var(--secondary);
}

.text-success {
    color: var(--success);
}

.text-info {
    color: var(--info);
}

.text-warning {
    color: var(--warning);
}

.text-danger {
    color: var(--danger);
}

.text-light {
    color: var(--light);
}

.text-dark {
    color: var(--dark);
}

.border-blue {
    border-color: var(--blue) !important;
}

.border-indigo {
    border-color: var(--indigo) !important;
}

.border-purple {
    border-color: var(--purple) !important;
}

.border-pink {
    border-color: var(--pink) !important;
}

.border-red {
    border-color: var(--red) !important;
}

.border-orange {
    border-color: var(--orange) !important;
}

.border-yellow {
    border-color: var(--yellow) !important;
}

.border-green {
    border-color: var(--green) !important;
}

.border-teal {
    border-color: var(--teal) !important;
}

.border-cyan {
    border-color: var(--cyan) !important;
}

.border-white {
    border-color: var(--white) !important;
}

.border-gray {
    border-color: var(--gray) !important;
}

.border-gray-dark {
    border-color: var(--gray-dark) !important;
}

.border-primary {
    border-color: var(--primary) !important;
}

.border-secondary {
    border-color: var(--secondary) !important;
}

.border-success {
    border-color: var(--success) !important;
}

.border-info {
    border-color: var(--info) !important;
}

.border-warning {
    border-color: var(--warning) !important;
}

.border-danger {
    border-color: var(--danger) !important;
}

.border-light {
    border-color: var(--light) !important;
}

.border-dark {
    border-color: var(--dark) !important;
}
