.navbar {
    transition: background-color .3s, box-shadow .3s;
}

.navbar-bg {
    background-color: rgba(0, 0, 0, .7);
}

.navbar-header .header-icon {
    width: 26px;
}

.navbar-header .header-title {
    margin: 0 8px;
}

.navbar-menu {
    display: none;
    cursor: pointer;
}

.navbar-menu i {
    width: 24px;
    font-size: 24px;
}

.navbar-list {
    overflow: hidden;
    transition: max-height .2s;
}

.navbar-item {
    padding-bottom: 8px;
    border-bottom-color: transparent;
    transition: border-bottom-color .2s;
}

.navbar-item:hover {
    border-bottom: 2px solid var(--light);
}

.card {
    color: var(--dark);
    background-color: var(--light);
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    padding: 1.25rem;
}

.form-control {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    color: var(--gray);
    background-color: var(--white);
    padding: .375rem .75rem;
    margin: 5px 0;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s, box-shadow .15s;
}

.form-control:focus {
    color: var(--gray-dark);
    border-color: rgba(0, 0, 0, .5);
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 0, 0, .25);
}

.form-control::placeholder {
    color: #6c757d;
}

.form-button {
    width: 100%;
    border-radius: .25rem;
    box-shadow: none;
    cursor: pointer;
    padding: 10px;
    margin: 5px 0;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    color: #fff;
    outline: none;
    border: none;
    background-color: #343a40;
    transition: background-color .15s;
}

.form-button:hover {
    background-color: #23272b;
}

.progress {
    width: 100%;
    margin: 10px 0;
    background-color: #b0bec5;
}

.progress div {
    color: #fff;
    padding: 5px;
    text-align: center;
    background-color: #37474F;
}
