* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.menu {
    width: 300px;
    overflow-y: auto;
    transition: left .3s;
    z-index: 2000;
}

.content {
    position: relative;
    margin-left: 300px;
}

.header {
    display: flex;
    align-items: center;
    visibility: hidden;
    background-color: transparent;
    transition: background-color .2s, box-shadow .2s;
}

.header-title {
    margin: 0;
    padding-left: 20px;
    color: transparent;
    transition: color .2s;
}

.menu-button {
    color: var(--light);
    font-size: 20px;
    padding: 8px 16px;
    border: 1px solid var(--light);
    border-radius: 20%;
    cursor: pointer;
}

.menu-header {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.menu-header img {
    width: 32px;
}

.menu-header h4 {
    margin: 0;
    padding: 8px;
}

.avatar {
    width: 80%;
    margin: 20px auto;
}

.avatar img {
    width: 100%;
    border-radius: 100%;
}

.menu-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-item {
    width: 100%;
    transition: color .2s, background-color .2s;
}

.menu-item a {
    display: block;
    width: 100%;
    padding: 1rem;
    text-decoration: none;
    color: inherit;
}

.menu-item i {
    width: 30px;
    text-align: center;
    color: inherit;
}

.menu-item span {
    margin-left: 20px;
}

.menu-item:hover {
    color: var(--dark);
    background-color: var(--light);
}

#home {
    width: 100%;
    height: 100vh;
    /*background-image: url('../img/bg1.jpeg');*/
}

@media (max-width: 992px) {

    .menu {
        left: -300px;
    }

    .header {
        visibility: visible;
    }

    .content {
        margin-left: 0;
    }

}
